.note-btn {
	position: absolute;
	width: 18px;
	height: 18px;
	border: none;
	border-radius: 10%;
	cursor: pointer;
	transition: opacity 0.2s;
	opacity: 0;
	@media (max-width: 768px) {
	}
	&:hover,
	&:focus {
		.note-btn-title,
		.note-color-changer {
			opacity: 1;
			pointer-events: auto;
		}
	}
	&:focus {
		opacity: 1;
	}
	&:focus-within {
		opacity: 1;
	}
}

.note-btn-title {
	position: absolute;
	font-size: 14px;
	left: 50%;
	bottom: -34px;
	transform: translate(-50%, 0);
	padding: 6px 8px;
	border-radius: 3px;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition: opacity 0.2s;
	pointer-events: none;
	@media (max-width: 1024px) {
		display: none;
	}
}

.note-btn-delete {
	background: url("../../assets/icons/trash.svg") center/cover no-repeat;
	bottom: 10px;
	right: 20px;
}

.note-color-change-btn {
	left: 20px;
	bottom: 10px;
	background: url("../../assets/icons/fill.svg") center/cover no-repeat;
}

.note-btn-pin {
	top: 10px;
	right: 20px;
	background: url("../../assets/icons/pin.svg") center/cover no-repeat;
}

.isPinned {
	.note-btn-pin {
		background: url("../../assets/icons/pin-active.svg") center/cover no-repeat;
	}
}

.isDark {
	.note-btn-delete {
		background: url("../../assets/icons/trash-white.svg") center/cover no-repeat;
	}
	.note-color-change-btn {
		background: url("../../assets/icons/fill-white.svg") center/cover no-repeat;
	}
	.note-btn-pin {
		background: url("../../assets/icons/pin-white.svg") center/cover no-repeat;
	}
	.isPinned {
		.note-btn-pin {
			background: url("../../assets/icons/pin-white-active.svg") center/cover no-repeat;
		}
	}
}
