$md3: 768;

.notes-input {
	display: flex;
	align-items: flex-start;
	margin: 0px 0px 40px 0px;
	max-width: 560px;
	width: 100%;
	@media (max-width: $md3+px) {
		flex-direction: column;
		max-width: 300px;
	}
}

.notes-input-textarea {
	padding: 10px 20px;
	width: 100%;
	// border: 1px solid #000;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	height: 40px;
	transition: height 0.2s;
	resize: none;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	&:focus {
		height: 100px;
		outline: unset;
	}
	@media (max-width: $md3+px) {
		margin: 0px 0px 10px 0px;
		max-width: 300px;
	}
}

.notes-input-btn {
	font-size: 14px;
	min-height: 40px;
	min-width: 140px;
	border-radius: 4px;
	margin: 0px 0px 0px 20px;
	border: none;
	cursor: pointer;
	background: #ffd800;
	transition: background 0.2s;
	&:hover {
		background: #ffcc00;
	}
	&:active {
		background: #ff9f00;
	}
	@media (max-width: $md3+px) {
		margin-left: auto;
		min-width: 100%;
	}
}

.isDark {
	.notes-input-textarea {
		background: none;
		color: rgb(232, 234, 237);
		border: 1px solid #b8b8b8;
	}
	.notes-input-btn {
		background: #414141;
		color: rgb(232, 234, 237);
		transition: unset;
	}
}
