.notes-item {
	flex: 0 1 16.666%;
	padding: 10px 10px;
	list-style-type: none;
	max-width: 320px;
	@media (max-width: 1600px) {
		flex: 0 1 20%;
	}
	@media (max-width: 1340px) {
		flex: 0 1 25%;
	}
	@media (max-width: 1080px) {
		flex: 0 1 33.333%;
	}
	@media (max-width: 768px) {
		flex: 0 1 50%;
		padding: 5px 10px;
	}
	@media (max-width: 520px) {
		flex: 0 1 100%;
		max-width: unset;
	}
}
.notes-item-body {
	padding: 10px 50px 60px 20px;
	border: 2px solid #e0e0e0;
	border-radius: 8px;
	position: relative;
	transition: all 0.2s;
	&:hover {
		-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		.note-btn {
			opacity: 1;
		}
	}
}
.notes-item-text {
	font-size: 16px;
	line-height: 120%;
	font-weight: 400;
	width: 100%;
	margin: 0;
	background: none;
	border: none;
	resize: none !important;
	&:focus {
		border: none;
		outline: none;
	}
}
.isDark {
	.notes-item-body {
		border: 2px solid #414141;
	}
	.notes-item-text {
		color: rgba(255, 255, 255, 0.87);
	}
}
