.notes-item {
	flex: 0 1 16.666%;
	padding: 10px 10px;
	list-style-type: none;
	max-width: 16.666%;
	@media (max-width: 768px) {
		max-width: 100%;
		flex: 1 1 100%;
	}
}
.notes-item-body {
	padding: 10px 40px 60px 20px;
	border: 1px solid #1d1d1d;
	border-radius: 8px;
	position: relative;
	&:hover {
		.note-btn {
			opacity: 1;
		}
	}
}
.notes-item-text {
	font-size: 16px;
	line-height: 120%;
	font-weight: 400;
	margin: 0;
	word-wrap: break-word;
}

.note-btn-delete {
	background: url("../../assets/icons/trash.svg") center/cover no-repeat;
	bottom: 10px;
	right: 20px;
}

.note-color-change-btn {
	left: 20px;
	bottom: 10px;
	background: url("../../assets/icons/fill.svg") center/cover no-repeat;
}

.note-btn-pin {
	top: 10px;
	right: 20px;
	background: url("../../assets/icons/pin.svg") center/cover no-repeat;
}
