@import "../../global.scss";

.main {
	padding: 20px;
	flex: auto;
	transition: background 0.2s;
	&.isDark {
		background: $darkbg;
		color: $dark-white;
	}
}

.main-input-container {
	padding: 20px 0;
	display: flex;
	justify-content: center;
}
