@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	font-weight: normal;
	font-family: "Roboto", sans-serif;
	height: 100%;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}
