.theme-btn {
	width: 20px;
	height: 20px;
	border: none;
	background: url("../../assets/icons/moon.svg") center/cover no-repeat;
	cursor: pointer;
	position: relative;
	margin: 0px 20px 0px 0px;
	&:hover {
		.theme-btn-title {
			opacity: 1;
		}
	}
	@media (max-width: 1024px) {
		margin: 0;
	}
}

.theme-btn-title {
	position: absolute;
	font-size: 14px;
	left: 50%;
	bottom: -44px;
	transform: translate(-50%, 0);
	padding: 6px 8px;
	border-radius: 3px;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition: opacity 0.2s;
	pointer-events: none;
	@media (max-width: 1024px) {
		display: none;
	}
}

.isDark {
	.theme-btn {
		background: url("../../assets/icons/sun.svg") center/cover no-repeat;
	}
}
