@import "../../global.scss";

.header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background 0.2s;
	&.isDark {
		background: $darkbg;
		color: $dark-white;
	}
}
